<div class="container mt-5 col-md-5">
    <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Přihlášení</h3>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Zadejte svůj email" required />
        </div>
        <div class="form-group">
            <label>Heslo</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Zadejte své heslo" />
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-2">Přihlásit</button>
    </form>
</div>