<nav class="navbar navbar-expand-lg navbar-light text-white app-toolbar font-weight-bold">
  <h5 style="margin: 1vh;">bruh.cz</h5>
  <div class="collapse navbar-collapse" id="navbarSUpportedContent">
    <ul class="navbar-nav ms-auto">
        <li><a *ngIf="this.authService.isLoggedIn" class="btn btn-primary">Profil</a></li>
        <li><a *ngIf="!this.authService.isLoggedIn" class="btn btn-primary" routerLink="/login">Přihlásit</a></li>
        <li><a *ngIf="!this.authService.isLoggedIn" class="btn btn-primary" routerLink="/signup">Zaregistrovat</a></li>
        <li><a (click)="logout()" *ngIf="this.authService.isLoggedIn" class="btn btn-primary">Odhlásit</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
