<div class="container col-md-5">
    <div class="alert alert-danger" *ngIf="errorPresent">
        {{ errorMessage }}
    </div>
    <form #form="ngForm" class="form-password" [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Změna hesla</h3>
        <div class="form-group">
            <label>Stávající heslo</label>
            <input type="password" class="form-control" formControlName="old_password" placeholder="Zadejte své nynější heslo"
            [class.is-valid]="changePasswordForm.controls['old_password'].valid && changePasswordForm.controls['old_password'].touched"
            [class.is-invalid]="changePasswordForm.controls['old_password'].invalid && changePasswordForm.controls['old_password'].touched"
            required>
            <div class="warning" *ngIf="changePasswordForm.controls['old_password'].invalid && changePasswordForm.controls['old_password'].touched">
                Zadejte své nynější heslo
            </div>
        </div>
        <div class="form-group">
            <label>Nové heslo</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Zadejte nové heslo" required
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
            [class.is-valid]="changePasswordForm.controls['password'].valid && changePasswordForm.controls['password'].touched"
            [class.is-invalid]="changePasswordForm.controls['password'].invalid && changePasswordForm.controls['password'].touched" />
            <div class="warning" *ngIf="form.submitted && changePasswordForm.controls['password'].invalid">
                Zadejte nové heslo
            </div>
            <div class="warning" *ngIf="changePasswordForm.controls['password'].invalid && changePasswordForm.controls['password'].touched">
                <i>Heslo nesplňuje bezpečnostní požadavky</i>
                <p><i><small>Alespoň osm znaků, jedno velké písmeno, jedno číslo a jeden speciální znak</small></i></p>
            </div>
        </div>
        <div class="form-group">
            <label>Potvrzení nového hesla</label>
            <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Potvrzení nového hesla" required 
            [class.is-valid]="changePasswordForm.controls['password'].value === changePasswordForm.controls['password_confirmation'].value && changePasswordForm.controls['password'].dirty"
            [class.is-invalid]="changePasswordForm.controls['password'].value !== changePasswordForm.controls['password_confirmation'].value"/>
            <div class="warning" *ngIf="changePasswordForm.controls['password'].value !== changePasswordForm.controls['password_confirmation'].value 
                                            && changePasswordForm.controls['password'].touched">
                Hesla nejsou shodná
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success mt-2 w-100">Uložit</button>
        <div class="alert alert-success" *ngIf="this.successful">
            {{ this.errorMessage }}
        </div>
    </form>
</div>