<div class="container mt-5 col-md-5">
    <div class="alert alert-danger" *ngFor="let error of errorMessage">
        {{ error }}
    </div>
    <form #form="ngForm" class="form-signin" [formGroup]="signupForm" (ngSubmit)="signupForm.valid && registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Registrace nového uživatele</h3>
        <div class="form-group">
            <label>Jméno</label>
            <input type="text" class="form-control" formControlName="full_name" placeholder="Zadejte celé jméno" required />
            <div class="alert alert-danger" *ngIf="signupForm.controls['full_name'].invalid && form.submitted ">
                Zadejte své jméno
            </div>
            <div class="alert alert-danger" *ngIf="form.submitted && signupForm.controls['full_name'].invalid && !form.submitted">
                Zadejte své celé jméno
            </div>
        </div>
        <div class="form-group">
            <label>Přezdívka</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Zadejte přezdívku" 
            [class.is-valid]="!nickAlreadyExists && signupForm.controls['name'].valid && signupForm.controls['name'].touched" 
            [class.is-invalid]="nickAlreadyExists"
            (change)="checkNick()" />
            <div class="alert alert-danger" *ngIf="signupForm.controls['name'].invalid && form.submitted ">
                Zadejte svůj nick
            </div>
            <div class="alert alert-danger" *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].invalid && !form.submitted">
                Zadejte svůj nick
            </div>
            <div class="warning" *ngIf="nickAlreadyExists">
                Tato přezdívka je již obsazena
            </div>
        </div>
        <div class="form-group">
            <label>Emailová adresa</label>
            <input type="email" class="form-control" 
            [class.is-valid]="!emailAlreadyExists && signupForm.controls['email'].valid && signupForm.controls['email'].touched" 
            [class.is-invalid]="(emailAlreadyExists || signupForm.controls['email'].invalid) && signupForm.controls['email'].touched"
            formControlName="email" placeholder="Zadejte email" 
            required pattern="^[a-zA-Z0-9.!\#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)$" 
            (change)="checkEmail()"/>
            <div class="warning" *ngIf="signupForm.controls['email'].invalid && form.submitted ">
                Špatný formát emailu
            </div>
            <div class="warning" *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid && !form.submitted">
                Špatný formát emailu
            </div>
            <div class="warning" *ngIf="emailAlreadyExists">
                Tato e-mailová adresa je již obsazena
            </div>
        </div>
        <div class="form-group">
            <label>Heslo </label>
            <input type="password" class="form-control" formControlName="password" placeholder="Heslo" required
            pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
            [class.is-valid]="signupForm.controls['password'].valid && signupForm.controls['password'].touched"
            [class.is-invalid]="signupForm.controls['password'].invalid && signupForm.controls['password'].touched" />
            <div class="warning" *ngIf="form.submitted && signupForm.controls['password'].invalid">
                Zadejte heslo
            </div>
            <div class="warning" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched">
                <i>Heslo nesplňuje bezpečnostní požadavky</i>
                <p><i><small>Alespoň osm znaků, jedno velké písmeno, jedno číslo a jeden speciální znak</small></i></p>
            </div>
        </div>
        <div class="form-group">
            <label>Potvrdit heslo</label>
            <input type="password" class="form-control" formControlName="password_confirmation" placeholder="Potvrzení hesla" required 
            [class.is-valid]="signupForm.controls['password'].value === signupForm.controls['password_confirmation'].value && signupForm.controls['password'].dirty"
            [class.is-invalid]="signupForm.controls['password'].value !== signupForm.controls['password_confirmation'].value"/>
            <div class="warning" *ngIf="signupForm.controls['password'].value !== signupForm.controls['password_confirmation'].value 
                                            && signupForm.controls['password'].touched">
                Hesla nejsou shodná
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success mt-1 w-100">Zaregistrovat</button>
    </form>
    <div class="alert alert-success" *ngIf="this.successful">
        {{ this.errorMessage }}
    </div>
</div>